<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
</head>
<body>
<header>
    <%- include ("../partials/header") %>
</header>

<main>
    <div class="jumbotron">
        <h1>Welcome to Simultaneously</h1>
        <p>Watch YouTube videos with your friends simultaneously</p>
    </div>
</main>

<%- include ("../partials/foot") %>

<footer>
    <%- include ("../partials/footer") %>
</footer>

</body>
</html>